/* For recent browsers*/
.clearfix:before,
.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after {
    clear:both;
}
/* Triggers "haslayout" for IE6/7 */
.clearfix {
    zoom:1;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.wrapper {
	width: 100%;
	max-width: 960px;
	margin: 10px auto;
	/*background: #fee;*/
}

.header {
	width: 100%;
}

.header h1 {
	font: 70px verdana, sans-serif;
	text-align: center;
}

.header h2 {
	font: 20px verdana, sans-serif;
	text-align: center;
}

.header nav {
	background: #ccc;
	height: auto;
}

.header nav ul{
	list-style-type: none;
	width: 80%;
	margin-left: 20%;
}

a#pull {
	display: none;
}

.header nav ul li{
	display: inline;
	float: left;
	width: 20%;
}

.header a {
	text-decoration: none;
	color: #5490B0;
	margin-left: 42%;
}

.post-reader {
	width: 60%;
	float: left;
	margin-left: 20%;
}

a.post-title {
	text-decoration: none;
	color: #000;
}

a.post-title:hover {
	color: #48A7E5;
	text-decoration:underline;
}

.title-header {
	margin-bottom: 60px;
}

.last-posts {
	width: 60%;
	/*margin-left: 10%;*/
	float: left;
}

.last-posts:first-child {
	margin-top:20px;
}

.last-posts hr {
	width: 75%;
	float: left;
}

.post-home {
	float: left;
	width: 75%;
	margin-left:20%;
}

.post-date {
	font: 70% helvetica;
	margin-left: 0.5%;
	color: #ccc999;
	margin-top: -14px;
}

.post-categories {
	margin-top: -14px;
	margin-bottom: 21px;
	font-size: 90%;
	color: #1cc;
}

.sidebar {
	float: left;
	width: 20%;
	margin-left: 12%;
	margin-top: 22px;
}

footer div {
	margin-top:100px;
	float: left;
	width: 100%;
	text-align: center;
}

.fb-comments{
	margin-left: 15%;
}

#categories-title-home {
	margin-left: 23px;
}

/*Media Queries*/

@media only screen and (max-width: 800px){
	div.last-posts {
		width:100%;
		margin-left: -8%;
	}
	
	#categories-title-home {
		font-size: 195%;
		margin-left: 100%;
	}
	
	.category-list-home {
		margin-left: 65%;
		list-style: none;
		font-size: 130%;
		line-height: 2;
		width: 150%;
	}
	
	.last-posts hr {
		width:100%;
	}
	
	a#pull {
		display: block;
		/*background-color: #283744;*/
		width: 100%;
		position: relative;
		text-align: center;
		height: 45px;
		margin-left: -0.5px;
		font-size: 160%;
		top: 10px;
	}
	
	nav a#pull:after {
		content: "";
		background: url('../images/menu-icon.png') no-repeat;
		width: 45px;
		height: 45px;
		display: inline-block;
		position: absolute;
		right: 15px;
		top: 4px;
	}
	
	nav ul  {
		display:none;
	}
	
	.header nav ul li{
		display: block;
		float: none;
		width: 100%;
		margin-left: -75px;
		height: 45px;
	}
	
	nav li a {
		border-bottom: 1px solid #576979;
	}
	
	.post-reader {
	width: 70%;
	margin-left: 15%;
	}
	
	.fb-comments {
	margin-left: 12%;
	}

}
