doctype html

head
  link(rel='stylesheet', href='/stylesheets/style.css')
  block head

body
  div.wrapper
    div.header
      div.title-header
        h1= title
        h2 Empreendendo a arte de empreender
      nav.clearfix
        ul.clearfix
          li
            a(href="#")!="blog"
          li
            a(href="#")!="sobre"
          li
            a(href="#")!="contato"
    block content
    footer.clearfix
      div
        p
          ©Feito com muita vontade