extends layout

block content
  section.main-content
    div.last-posts
      - each post in posts
        div.post-home
          h2
            a.post-title(href="/posts/"+post.id)!=post.title
          div.post-categories
            -var array = []
            -each id in post.categories
              -each categoria in categorias
                -if(id.equals(categoria._id))
                  =categoria.name+'.  '
          p.post-date= moment(post.created).fromNow()
          p!= post.content
          hr
    aside.sidebar
      h3#categories-title-home Categorias
      ul.category-list-home
        - each categoria in categorias
          li= categoria.name