extends layout

block head
  |<div id="fb-root"></div>
  |<script>(function(d, s, id) {
  |  var js, fjs = d.getElementsByTagName(s)[0];
  |  if (d.getElementById(id)) return;
  | js = d.createElement(s); js.id = id;
  | js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=257520141027869";
  | fjs.parentNode.insertBefore(js, fjs);
  |}(document, 'script', 'facebook-jssdk'));</script>

block content
  div.post-reader
    h2=post.title
    p!=post.content
  <div class="fb-comments" data-href="http://127.0.0.1/posts/"+post._id data-numposts="5" data-colorscheme="light"></div>